In [35]:
import pandas as pd, numpy as np, sklearn, seaborn as sns

In [38]:
x = ['A','B','C','B','A','A','C','C']
y = ['A','B','B','A','A','A','C','B']
actual = pd.Series(x)
predicted = pd.Series(y)

## User-defined function to find classification report for multiple classes

In [36]:
def Classification_Report(actuals,predicteds):
    
    f1_scores = []
    recalls = []
    accuracys = []
    precisions = []
    
    for i in actuals.unique():
        tp = 0
        fp = 0
        fn = 0
        
        for actual,predicted in zip(actuals,predicteds):
            if actual == i and predicted == i:
                tp += 1
                
            elif actual != i and predicted == i:
                fp += 1
                
            elif actual == i and predicted != i:
                fn += 1
            
        precision = tp / (tp + fp) if (tp + fp) > 0 else 0
        recall = tp / (tp + fn) if (tp + fn) > 0 else 0
        f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0
        accuracy = tp/(tp+fp+fn) if (tp+fp+fn) > 0 else 0
        
        precisions.append(precision)
        accuracys.append(accuracy)
        recalls.append(recall)
        f1_scores.append(f1_score)
    
    return pd.DataFrame({'Precision':precisions,'Recall':recalls,'f1_score':f1_scores,'Accuracys':accuracys},
                       index = actuals.unique())

In [39]:
Classification_Report(actual,predicted)

   Precision    Recall  f1_score  Accuracys
A   0.750000  1.000000  0.857143   0.750000
B   0.333333  0.500000  0.400000   0.250000
C   1.000000  0.333333  0.500000   0.333333

In [23]:
from sklearn.metrics import classification_report
print(classification_report(actual,predicted))

              precision    recall  f1-score   support

           A       0.75      1.00      0.86         3
           B       0.33      0.50      0.40         2
           C       1.00      0.33      0.50         3

    accuracy                           0.62         8
   macro avg       0.69      0.61      0.59         8
weighted avg       0.74      0.62      0.61         8

## Testing the function for iris dataset

In [40]:
iris = sns.load_dataset('iris')

In [41]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [43]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [65]:
x = iris[['sepal_length','sepal_width','petal_length','petal_width']]
y = iris['species']
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,
                                            test_size=0.3)

In [66]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [67]:
lr.fit(xtrain,ytrain)

LogisticRegression()

In [68]:
ytrainpred = lr.predict(xtrain)
ytestpred = lr.predict(xtest)

In [69]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(ytrain,ytrainpred),accuracy_score(ytest,ytestpred)

(0.9714285714285714, 0.9777777777777777)

In [70]:
cmtest = confusion_matrix(ytest,ytestpred)

In [71]:
cmtest

array([[15,  0,  0],
       [ 0, 14,  0],
       [ 0,  1, 15]], dtype=int64)

## Finding the metrics for ytest and ytestpred using user-defined function

In [74]:
Classification_Report(ytest,ytestpred)

            Precision  Recall  f1_score  Accuracys
versicolor   0.933333  1.0000  0.965517   0.933333
virginica    1.000000  0.9375  0.967742   0.937500
setosa       1.000000  1.0000  1.000000   1.000000

In [73]:
print(classification_report(ytest,ytestpred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        15
  versicolor       0.93      1.00      0.97        14
   virginica       1.00      0.94      0.97        16

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45